<!DOCTYPE html>
<html>
<head>
  <title>Verify OTP</title>
 
   <link rel="stylesheet" href='/static/verify_otp.css'>
</head>
<body>
  <form method="POST" action="{% url 'verify_otp' %}">
    {% csrf_token %}
    <h2>Verify OTP</h2>
    {% if error %}<p class="error">{{ error }}</p>{% endif %}
    <input type="hidden" name="email" value="{{ email}}">
    <input type="text" name="otp" placeholder="Enter OTP" required>
    <button type="submit">Verify </button>
  </form>
</body>
</html>