<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Your Seat - Shiva Kunj Library</title>
  <link rel="stylesheet" href="/static/booking.css">
 
</head>
<body>
  
  <div class="container">
    <h2>Book Your Seat</h2>
    {% if error %}
    <p style="color:red">This Id/Student already exist<p>
      {% endif%}
    <form method="POST" action="{% url 'send_otp' %}">
      {% csrf_token %} 
      <input type="text" name="sheet_no" value="{{ sheet_no }}" readonly>
      <input type="text" name="name" placeholder="Full Name" required>
      <input type="tel" name="mobile" placeholder="Mobile Number" maxlength="11" minlength="10" required>
      <input type="tel" name="email" placeholder="Email"  required>
      <input type="text" name="aadhar" placeholder="Aadhar Number" maxlength="12" minlength="12" required>

        <div class="form-group">
  <label for="shift"><strong>Shift:</strong></label>
  
  {% if shift == "optional" %}
    <select name="shift" id="shift" required>
      <option value="" disabled selected>Select shift</option>
      <option value="morning">Morning</option>
      <option value="evening">Evening</option>
      <option value="full_day">Full Day</option>
    </select>
  {% else %}
    <input type="text" name="shift" id="shift" value="{{ shift|title }}" readonly>
    <input type="hidden" name="shift" value="{{ shift }}">
  {% endif %}
</div>
      
      
      <button type="submit">Send OTP & Continue</button>
    </form>
  </div>
</body>
</html>